<!doctype html>
<html>
  <head>
    <title><%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopData.shopName%> api search</h1>
    <form method="GET" action="books">
      <p>book title: <input id="title" type="text" name="title"/></p>
      <input type="submit" value="get book api"/>
    </form>
  </body>
</html>