<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <title><%=shopData.shopName%></title>
</head>
<body>
    <h1><%=shopData.shopName%> Shop</h1>
    <div>
         <h2>Here are some of the books we sell at bargain prices!</h2>
         <ul>
            <% for(let i = 0; i < bargainBooks.length; i++) { %>   
                <% if(bargainBooks[i].price < 20.00) { %>
                    <li><%= `${bargainBooks[i].name} - £${bargainBooks[i].price}`%></li>
                <% } %>
            <% } %>
         </ul>
    </div>  
</body>
</html>